@import url('https://fonts.googleapis.com/css2?family=Chivo:ital@1&family=Inter&family=Montserrat:wght@200&family=Orbitron:wght@500&family=Raleway:wght@300&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


body{
    position: relative;
    margin: 0;
}

.logo{
    height: 85px;
   
}

.menu{
    position: fixed;
    font-family: 'Roboto Condensed';
    background-color:#F5F5F5;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 85px;
    width: 100%;
}
.menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.box-3 {
    display: flex;
    align-items: center;
}

.box-3 ul{
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
.box-3 li{
    padding-right: 20px;
}

.box-3 li:hover{
    text-decoration: underline;
}

/*----------------------------------*/

.box-4 {
    display: flex;
    align-items: center;
}
.box-2 ul{
    display: flex;
    list-style: none;
    padding: 0;
}

/*--------------------------------------*/
.img-2, .img-3{
    padding-right: 15px;
}

.img-1{
    margin-top: 5px;
    width: 23px;
    height: 23px;
}
.img-2{
    margin-top: 3px;
    width: 27px;
    height: 27px;
}
.img-3{
    width: 33px;
    height: 33px;
}

/*-------------BANNER ----------------- */

.banner{
    background-image: url("/Imagens/Imagembannner22.svg");
    background-repeat: no-repeat;
    background-size: 100% ;
    height: 60vh;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.banner img {
    width: 40%;
    padding-right: 20px;
}

header {
   padding-top: 85px;
}
/*-------------BUTTON ----------------*/
.desconto {
    margin-top: 60px;
    padding-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
}

.desconto-btn{
    background-color: transparent;
    border: none;
    transition: transform 1.5s;
}
.desconto-btn img{
    width: 90%;
}
.desconto-btn:hover, .desconto-btn:focus{
    transform: translateX(10px) scale(1.2);
}

/*-------------CATEGORY ----------*/


.category{
    margin-top: 10%;
    background-color: #e8e8e8;
    height: 80vh;

}
.categorias {
    display: flex;
    justify-content: center;
    padding-top: 7%;
    font-size: 25px;
}
.categorias img{
    width: 40%;
}

.categorias-card img{
    width: 90%;
}

.categorias-card {
    display: grid;
    margin-top: 3%;
    column-gap: -50px;
    row-gap: 20px;
    justify-items: center;
    grid-template-columns: auto auto auto;
}





.card {
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
    margin-bottom: 150px;
}
.card-container {
    width: 21.1%;
    height: 50vh;
    background-color: #FFD089;
    border-radius: 20px;
}
.casaco {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -60%;
    font-family: 'Roboto Condensed';
}
.casaco img{
    width: 100%;
}
.casaco h3 {
    display: flex;
    justify-content: center;
    margin-top: -13%;
    padding-bottom: 5%;
    margin-right: 5px;
}
.casaco h4 {
    display: flex;
    margin: 0;
    padding-top: 5%;
    font-family: 'Roboto Condensed';
    font-size: 180%;
}
.casaco p {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 2%;
    margin-right: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}
.tamanho-casaco {
    display: flex;
    margin-left: 10%;
    margin-top: 13%;
}



.comprar {
    display: flex;
    justify-content: center;
    margin-top: 20%; 
}    


.btn-comprar {
    width: 100%;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px 10px ;
    cursor: pointer;
    transition: transform 1s;
}
.btn-comprar a{
    text-decoration: none;
    font-size: 15px;
    font-family:  'Roboto Condensed';
    color: #000;
}
.btn-comprar:hover {
    transform: translateX(5px) scale(1.0);
    transform: translateY(5px) scale(1.0);
}



.fundo {
    height: 70vh;
    margin-top: 20%;
   
    background-color: #e8e8e8;
}


.colunas {
    display: flex;
    justify-content: space-around;
    padding: 0% 10% 0% 10%;
}
.coluna1, .coluna2, .coluna3, .coluna4, .coluna5 {
    margin-top: 60px;
}
.coluna1 p, .coluna2 p, .coluna3 p, .coluna4 p, .coluna5 p {
    margin-top: 20px;
    font-size: 14px;
}
.coluna1 a, .coluna2 a, .coluna3 a, .coluna4 a, .coluna5 a{
    text-decoration: none;
    color: #8B8B8B;
}
.coluna1 h3, .coluna2 h3, .coluna3 h3, .coluna4 h3, .coluna5 h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Roboto Condensed';
    font-size: 20px;
}
.traco {
    display: flex;
    border: 1px solid #d1d1d1;
    margin-top: 60px
}
.img-final {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    height: 27vh;
}
.pais {
    display: flex;
    justify-content: center;    
}
.pais a{
    margin: -80px 0.5% 0px 0.5%;
    color: #adadad;
    text-decoration: none;
    font-size: 12px;
}
.pais2{
    display: flex;
    justify-content: center;
}
.pais2 a{
    margin: -50px 0.5% 0px 0.5%;
    color: #adadad;
    text-decoration: none;
    font-size: 12px;
}
.copy { 
    position: relative;
    display: flex;
    justify-content: center;
    bottom: -7%;
    width: 100%;
}
.copy p {
    color: #616060;
    font-family: 'Roboto Condensed';
    font-size: 0.8em;
    
    margin: 0;
    margin-left: 2%;
}

.seta{
    display: flex;
    align-items: center;
    
}


/*_______________________*/

