@import url('https://fonts.googleapis.com/css2?family=Chivo:ital@1&family=Inter&family=Montserrat:wght@200&family=Orbitron:wght@500&family=Raleway:wght@300&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    position: fixed;
    background-color:#F5F5F5;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 95px;
    width: 100%;
}
.menu li{
    float: left;
    list-style: none;
    text-decoration: none;
    padding-left: 15px;
}
.menu a{
    font-family: 'Roboto Condensed';
    font-size: 16px;
    text-decoration: none;
    color: #000;
}
.box-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box-3{
    display: flex;
    align-items: center;
    margin-right: 175px ;
    

}
.box-3 ul{
    margin-left: 80px;
}
.box-2{
    display: flex;
    margin-right: 35px;
    padding-left: 45px;
    align-items: center;
   
}
.box-4{
    display:inline-flex;
    margin-left: 85px;
}
.img-1{
    margin-top: 5px;
    width: 23px;
    height: 23px;
}
.img-2{
    margin-top: 3px;
    width: 27px;
    height: 27px;
}
.img-3{
    width: 33px;
    height: 33px;
}
.logo{
    height: 85px;
    margin-right: 185px;
    margin-top: -20px;
}
.borda{
    border-width: 1px;
    border-style: groove;
    margin-left: 85px;
    margin-top: 17px;
    margin-bottom: 17px;

}
.banner{
    width: 1865px;
    height: 880px;
    padding-top: 95px;
    background-image: url("/Imagens/Imagembannner22.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: right;
    background-position: bottom;
}
.banner img{
    margin-top: 65px;
    height: 600px;
}


.desconto {
    margin-top: 60px;
    padding-top: 30px;
    margin-bottom: 60px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
}

.retangulo {
    height: 700px;
    margin-top: 80px;
    background-color: #e8e8e8;
}

.categorias {
    display: flex;
    justify-content: center;
    margin-top: -33%;
    font-family: 'Roboto Condensed';
    font-size: 25px;
    
}
.categorias-card {
    display: grid;
    margin-top: 3%;
    column-gap: -50px;
    row-gap: 20px;
    justify-items: center;
    grid-template-columns: auto auto auto;
}
.card {
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
    margin-bottom: 150px;
}

.card-container {
    width: 400px;
    height: 468px;
    background-color: #FFD089;
    border-radius: 20px;
}

.casaco {
    margin-top: -60%;
    font-family: 'Roboto Condensed';
}

.casaco h3 {
    display: flex;
    justify-content: center;
    margin-top: -13%;
    margin-right: 5px;
}

.casaco h4 {
    display: flex;
    margin-left: 65%;
    margin-top: -6%;
    font-family: 'Roboto Condensed';
    font-size: 25px;
}

.casaco p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-right: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.tamanho-casaco {
    display: flex;
    margin-left: 10%;
    margin-top: 13%;
}

.btn-comprar {
    display: flex;
    width: 95%;
    margin-left: 10px;
    margin-top: 15%;
    border: 2px solid #000000;
    border-radius: 5px;
}

/*BUTTON*/
.desconto-btn{
    background-color: transparent;
    border: none;
    transition: transform 1s;
}
.desconto-btn:hover, .desconto-btn:focus{
    transform: translateX(10px) scale(1.2);
}
